:root[data-theme='light'] {
  --deashboard: rgb(240, 240, 240);
}
:root[data-theme='dark'] {
  --deashboard: rgb(0, 69, 126);
}
.bodyEl {
  max-width: 1440px;
  height: 100vh;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  background: url('../assets/fudzi.jpeg') center center no-repeat fixed;
  background-size: cover;
}
.canvasContainer {
  position: relative;
  margin: 0 15px;
  padding: 50px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(220, 220, 220, 0.3);
  border-radius: 30px;
}
.canvasContainer::after {
  background-color: rgba(190, 190, 190, 0.25);
  top: 30px;
  bottom: 30px;
  left: 30px;
  right: 30px;
  content: '';
  filter: blur(32px);
  opacity: 0.4;
  position: absolute;
  z-index: -1;
}
.controlsContainer {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}
.timerEl {
  align-self: center;
  font-size: 22px;
  color: rgb(0, 0, 255);
}
.selectContainer {
  display: flex;
  flex-direction: column;
  margin: 20px 0px;
}
.saveGameContainer {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.modalContainer {
  position: fixed;
  gap: 15px;
  z-index: 5;
  background-color: rgb(240, 240, 240);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border-radius: 40px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.closeBtn {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(240, 240, 240);
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.6s ease-in-out;
}
.helpMessage {
  position: absolute;
  gap: 15px;
  z-index: 5;
  color: rgb(255, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border-radius: 40px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.toggleChackBox {
  display: none;
}
.toggleContainer {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-top: 20px;
}
.toggleSlider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px;
  transition: 0.4s;
}
.toggleSlider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  transition: 0.4s;
}
.toggleSlider.checked {
  background-color: #2196f3;
}
.toggleSlider.checked:before {
  transform: translateX(26px);
}
#gridCanvas {
  background-color: var(--deashboard);
}
@media (hover: hover) {
  .closeBtn:hover {
    transform: scale(1.15);
  }
}
@media (max-width: 1100px) {
  .canvasContainer {
    padding: 50px 50px;
  }
}
@media (max-width: 750px) {
  .controlsContainer {
    align-items: center;
  }
  .canvasContainer {
    flex-direction: column;
  }
  .selectContainer {
    flex-direction: row;
    gap: 20px;
  }
}
@media (max-width: 620px) {
  .canvasContainer {
    padding: 30px 30px;
  }
}
